/* html e body */
html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: var(--cor-5);
  }
  
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: none;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--cor-p1);
    border-radius: 20px; 
    border: none;
  }
  body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* root e importações */

  :root{
    --cor-0: #f9f9f9;
    --cor-1: #a4a4a4;
    --cor-2: #828282;
    --cor-3: #333333;
    --cor-4: #212121;
    --cor-5: #171717;
    --cor-p1: #1f93ff;
    --cor-p2: #1f93ff;
  }
  .cor-0{
    color: #f9f9f9;
  }
  .cor-1{
    color: #a4a4a4;
  }
  .cor-2{
    color: #828282;
  }
  .cor-3{
    color: #333333;
  }
  .cor-4{
    color: #212121;
  }
  .cor-5{
    color: #171717;
  }
  .cor-p1{
    color: #1f93ff;
  }
  .cor-p2{
    color: #1f93ff;
  }
.js .fadeInDown {
    transform: translate3d(0, -20px, 0);
  }
  .js .fadeInUp {
    transform: translate3d(0, 20px, 0);
  }
  .js .fadeInRight {
    transform: translate3d(20px, 0, 0);
  }
  .js .fadeInLeft {
    transform: translate3d(-20px, 0, 0);
  }
  
  .js [data-anime] {
    opacity: 0;
  }
  .js .anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }
  .font-1-pp{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .font-1-pp-m{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
  .font-1-pp-b{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
  
  .font-1-p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .font-1-p-m{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  .font-1-p-b{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  
  .font-1-m{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
  }
  .font-1-m-m{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
  .font-1-m-b{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
  }
  
  .font-1-mm{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
  }
  .font-1-mm-m{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
  }
  .font-1-mm-b{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
  }
  
  .font-1-g{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
  }
  .font-1-g-m{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 32px;
  }
  .font-1-g-b{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
  }
  .font-1-gg{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
  }
  .font-1-gg-m{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 36px;
  }
  .font-1-gg-b{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 62px;
  }
  /* parte do container */
  .container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
  }
  
  @media (max-width:800px){
    .container{
      padding-bottom: 40px;
      padding-top:40px;
  }
  }
  /* pate do corpo */
  h1,
  h2,
  h3,
  h4,
  ul,
  blockquote,
  dd,
  p {
    margin: 0px;
  }
  .col-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    animation: flutuar 3s infinite backwards;
    position: relative;
  }
  .main-conteudo p {
    display: inline-flex;
    font-size: 20px;
    line-height: 150%;
    font-weight: bold;
    margin-bottom: 3.2rem;
    color: var(--cor-2);
  }
  .line {
    border-right: 0.2rem solid var(--cor-p1);
    white-space: nowrap;
    overflow: hidden;
  }
  .typing {
    animation: line-typing 500ms steps(40) infinite normal,
      typing 2s steps(40) 1.4s normal backwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 18.5rem;
    }
  }
  
  @keyframes line-typing {
    from {
      border-right-color: var(--cor-p1);
    }
    to {
      border-right-color: transparent;
    }
  }
  @keyframes flutuar {
    0% {
      transform: translateY(2rem);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(2rem);
    }
  }
  @media (max-width:650px){
    .main-conteudo p {
      display: inline-flex;
      font-size: 15px;
      line-height: 150%;
      font-weight: bold;
      margin-bottom: 3.2rem;
      color: var(--cor-2);
    }
    .line {
      border-right: 0.2rem solid var(--cor-p1);
      white-space: nowrap;
      overflow: hidden;
    }
    .typing {
      animation: line-typing 500ms steps(40) infinite normal,
        typing 2s steps(40) 1.4s normal backwards;
    }
    
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 13.5rem;
      }
    }
    
    @keyframes line-typing {
      from {
        border-right-color: var(--cor-p1);
      }
      to {
        border-right-color: transparent;
      }
    }
    @keyframes flutuar {
      0% {
        transform: translateY(2rem);
      }
      50% {
        transform: translateY(-2rem);
      }
      100% {
        transform: translateY(2rem);
      }
    }
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;

  }

.main-conteudo a{
  margin-top: -15px;
}
.contato h2{
    text-align: center;
    margin-bottom: 60px;
  }
  
  .lista-contato{
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .lista-contato li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  .lista-contato li .lista-img{
    padding: 30px;
    background-color: var(--cor-4);
    border-radius: 50%;
  }
  
  .lista-contato li a>div:hover{
    background-color: var(--cor-3);
  }
  
  @media (max-width:650px){
  
    .lista-contato{
      gap: 40px;
    }
    
    .lista-contato li{
      flex: 1 1 200px;
    }
  
    .lista-contato li .lista-img{
      padding: 15px;

    }
  }
.header {
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  @media (max-width: 800px){
    .header a{
      box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.267);

    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .menu a::after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    transition: 0.3s;
    background: linear-gradient(to right, #1f93ff, #1f93ff);
  }
  
  .menu a:hover::after{
   width: 100%;
  }
  
  @media (max-width: 800px) {
    .menu{
      gap: 10px;
    }
  
    .menu a {
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 16px;
      background-color: var(--cor-4);
    }
  
    .menu a:hover {
      background-color: var(--cor-3);
    }
  
    .menu a::after{
      display: none;
    }
  }
  
  @media (max-width: 700px) {
    .header {
      flex-direction: column;
    }
  }
  
  @media (max-width: 400px) {
    .menu{
      gap: 20px 10px;
    }
  
    .menu a{
      font-size: 14px;
    }
  }
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding-bottom: 80px;
    width: 100%;
  }
  
  .main-img{
    margin: auto;
    

  }

  
  .main-conteudo h1{
    margin-bottom: 8px;
    position: relative;
  }
  
  .main-conteudo h1::before{
    content: "";
    display: block;
    height: 8px;
    width: 30px;
    top: -8px;
    background: linear-gradient(to right, #1f93ff, #1f93ff);
    position: absolute;
    transition: 0.3s;
  }
  
  .main-conteudo:hover h1::before{
    width: 40px;
  }
  
  .main-conteudo span{
    display: block;
    margin-bottom: 28px;
  }
  
  .main-conteudo a{
    background-color: var(--cor-p1);
    display: block;
    max-width: max-content;
    padding: 12px 24px;
    border-radius: 2px;
    background: linear-gradient(to right, #1f93ff, #1f93ff);
  }
  
  .main-conteudo a:hover{
    background: linear-gradient(to right, #1f93ff, #1f93ff);
  }
  
  @media (max-width:900px){
    .main h1{
      font-size: 52px;
    }
    .main span{
      font-size: 18px;
    }
  }
  
  @media (max-width:700px){
    .main{
      grid-template-columns: 1fr;
      padding-top: 40px;
      justify-items: center;
    }
  
    .main-img{
      display: none;
      
    }
  
    .main-conteudo a{
      padding: 8px 16px;
    }
  }
  /* projetos */

.projetos h2{
    text-align: center;
    margin-bottom: 60px;
    position: relative;
  }
  
  .projetos-grid{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    
  }
  
  .projeto-card{
    padding: 20px;
    background-color: var(--cor-4);
    transition: 0.3s;
    box-shadow: 15px 15px 30px #080808, -15px -15px 30px #181818;

  }
  
  .projeto-card:hover{
    background-color: var(--cor-3);
  }
  
  .projeto-img,.projeto-conteudo p{
    margin-bottom: 20px;
  }
  
  .projeto-conteudo h3{
    margin-bottom: 4px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .projeto-links{
    display: flex;
    gap: 20px;
  }
  
  @media (max-width:1000px){
    .projetos-grid{
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width:600px){
    .projeto-card{
      padding: 15px 10px;
    }
  }
  
  /* sobre mim */
.sobre h2{
    text-align: center;
    margin-bottom: 60px;
  }
  
  .sobre p{
    max-width: 42ch;
    margin-bottom: 20px;
  } 
  
  .sobre-grid{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  
  .sobre-grid img{
    margin: auto;
    border-radius: 5px;
    height: 15%;
    width: 65%; 
  }
  .imgf img{
    box-shadow: 15px 15px 30px #000000, -15px -15px 30px #0e0e0e;


  }
  .imgf:hover{
    transform: scale(1.07);
    transition: .6s;
  }
  @media (max-width:1000px){
    .sobre-grid {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  button{
    height: 30%;
    background-color: transparent;
    color: white;
    border-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-family: arial;
  }
  

  /* footer */
  #scrollTopButton{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
  }
  #scrollTopButton.showBtn{
    opacity: 1;
    transform: translate(0);
  }
.linha{
  margin-top: 10vh;
  height: 2px;
  width: 100%;
  background: var(--cor-p1);
}
  .footer{
    text-align: center;
    padding: 20px;
  }
  @keyframes gotop{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  /* gotop */
  .tooltip{
    position: absolute;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 1px var(--cor-p1), 0 0 0 1px var(--cor-p1);
    padding: 8px;
    color: var(--cor-0);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    max-width: 150px;
    border-radius: 4px;
  }


strong{
  color: var(--cor-p1);
}
/* conhecimentos */
#conhecimentos h2 {
  justify-content: center;
  display: flex;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}
#conhecimentos h3{
  color: #fff;
}

#conhecimentos ul {
  margin-top: 15%;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
}

#conhecimentos li{
  padding: 2.8rem;
  text-align: center;
  color: var(--cor-2);
  background: #141414;
  border-radius: 0.6rem;
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.267);
  transition: 400ms;
  width: 50%;
}


#conhecimentos li:hover {
  background: var(--cor-4);
}

#knowledge  h3 {
  margin-block: 1.6rem;
}

#conhecimentos li img {
  width: 4rem;
 margin-left: 39%;
}
@media (max-width:800px){

  #conhecimentos ul {
    flex-direction: column;
    color: var(--cor-4);
    margin-left: 18px;
    margin-top: 10vh;
    border-radius: 0.6rem;

  }
  #conhecimentos li{
    width: 69%;
    height: 28vh;
  }
  #conhecimentos li img {
    width: 4rem;
   margin-left: 36%;
  }
  
}